<h2><%= @shelter.name %></h2>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>
<% if @shelter.pets_pending? == true %>
<p><%= link_to "#{@shelter.name} Pet's", "/shelters/#{@shelter.id}/pets"%></p>
<p><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit"%></p>
<% elsif @shelter.pets_pending? == false %>
<p><%= link_to "#{@shelter.name} Pet's", "/shelters/#{@shelter.id}/pets"%></p>
<p><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit"%></p>
<p><%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete%></p>
<% end %>
<h3>Reviews</h3>
<% @shelter.reviews.each do |review| %>
<section id='reviews-<%=review.id%>'>
  <h4><%= review.title %></h4>
  <p>Rating: <%= review.rating %>/5</p>
  <p>Comments: <%= review.content %></p>
  <p><%= image_tag(review.image, width: 300) unless review.image.nil? %></p><br>
  <p><%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit"%></p>
  <p><%= link_to "Delete Review", "/shelters/#{@shelter.id}/reviews/#{review.id}", method: :delete%></p><br><br>
</section>
<% end %>
<p><%= link_to "New Review", "/shelters/#{@shelter.id}/reviews/new" %></p>

<footer>
  <h2>Shelter Statistics</h2>
  <p>Pets: <%= @shelter.pet_count %></p>
  <p>Average Rating: <%= @shelter.reviews.average_rating %></p>
  <p>Number of Applications: <%= @shelter.apps_on_file.count%></p>
</footer>
